@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

/* 💡 Soft Blink Animation */
@layer utilities {
    @keyframes soft-blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.2; /* suavemente visible */
      }
    }
  
    .animate-soft-blink {
      animation: soft-blink 2s ease-in-out infinite;
    }

    @keyframes gradientChange {
      0% {
          background-position: 0%
      }

      50% {
          background-position: 100%
      }

      100% {
          background-position: 0%
      }
  }

  .gradient {
      background: linear-gradient(90deg, blue, red);
      background-size: 200% 200%;
  }

  .element-to-rotate {
      animation: gradientChange 4s ease infinite;
  }
  }

@theme{
    --color-primary: #ff5e00;
    --color-secondary: #11293e;
    --color-tertiary: #cddb00;
    --color-alternate: #70003e;
    --color-primary-text: #14181b;
    --color-secondary-text: #57636c;
    --color-light-text: #a6aaad
    
}