---
import Layout from "../Layouts/Layout.astro"
---

<Layout>
        <div class="full bg-secondary w-full flex flex-col items-center justify-center">
            <p class="font-bold text-2xl text-white">404</p>
            
        </div>

</Layout>
<style>
    .full{
        height: 100dvh;
    }
</style>