---
import Padding from "../Components/Utilidades/Padding.astro";
import Layout from "../Layouts/Layout.astro";
---

<Layout>
        <div class="mt-28 py-8 mx-auto px-8 md:px-16 lg:px-32">
            <h1 class="">Aviso de privacidad</h1>
            <p>
                <strong>
                    Aviso de Privacidad Integral en la contratación de prestación de servicio de internet fijo conocido como 
                </strong>
                HULUX TELECOMUNICACIONES, S.A.S DE C.V. con domicilio en 5 de mayo #78, colonia Centro, Actopan, Hidalgo, 42500,
                responsable del tratamiento de los datos personales proporcionados, los cuales serán protegidos conforme a lo dispuesto
                por la Ley Federal de Protección de Datos Personales en Posesión de Particulares, Reglamento de la Ley Federal de Protección
                de Datos Personales en Posesión de Particulares, Lineamientos de Aviso de Privacidad y demás normatividad que resulte aplicable.
            </p>
            <h2>Glosario</h2>
            <ul>
                <li>
                    <strong>Derecho de Acceso:</strong> El titular tiene derecho a obtener sus datos personales, así como la información relativa a las condiciones y generalidades del tratamiento.
                </li>
                <li>
                    <strong>Derecho de rectificación: </strong> El titular podrá solicitar en todo momento que se rectifiquen sus datos personales que resulten ser inexactos o incompletos.
                </li>
                <li>
                    <strong>Derecho de cancelación: </strong> Cese en el tratamiento de los datos a partir del bloqueo de los mismos y su posterior supresión.
                </li>
                <li>
                    <strong>Derecho de oposición: </strong> El titular podrá en todo momento oponerse al tratamiento de los datos personales o exigir que cese.
                </li>
            </ul>
            <h2>Datos personales que se recaban</h2>
            <p>
                HULUX recaba del cliente nombre completo, domicilio, correo electrónico, teléfono, Registro Federal de Contribuyentes. En los casos en los que el cliente solicite factura: constancia de situación fiscal.
                Los datos se obtienen de forma personal a través de la visita de los clientes a las sucursales mediante el llenado del contrato adhesivo para la adquisición del servicio. No se recaba información a través del sitio web
                ni través de la app (Hulux Connect), estos funcionan con la información proporcionada en la carátula de dicho contrato. 
            </p>
            <h2>Datos sensibles</h2>
            <p>
                HULUX no recaba datos sensibles tales como origen racial o étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual.
                HULUX no realiza transferencia de datos a terceros.
            </p>
            <h2>
                Finalidades del tratamiento
            </h2>
            <p>
                Los datos personales que se recaban de usted se utilizan para:
            </p>
            <ul>
                <li >Instalación del equipo y servicio en la dirección proporcionada </li>
                <li >Entregar recibos y facturas físicas y digitales a través de nuestras sucursales, página web y aplicación</li>
                <li >Dar soporte técnico e informar cuando la infraestructura sufrirá modificaciones por motivos de mejora en el servicio.</li>
                <li >Dar aviso de renovación de contrato</li>
                <li >Cumplimiento de las obligaciones legales entre el cliente y HULUX. </li>
                <li >Actividades de cobranza 
                </li>
            </ul>
            <h2>
                Mecanismos para manifestar negativa para el tratamiento de datos personales para aquellas finalidades que no son necesarias
            </h2>
            <p>
                HULUX no recaba datos sensibles o adicionales a los fundamentales para cumplir con el servicio ofertado por lo que no trata los datos para actividades distintas a las antes mencionadas, sin embargo, para cualquier duda y/o aclaración se pone a
                disposición el correo electrónico <a href="mailto:legal@hulux.mx" >legal@hulux.mx</a> y la atención en las distintas sucursales en un horario de lunes a viernes 9:00 am a 6:00 pm.
            </p>
            <h2>
                Procedimiento para ejercer derechos ARCO
            </h2>
            <p>
                En cumplimiento del vigésimo octavo de los Lineamientos del Aviso de privacidad, artículos 16, fracción IV y 33 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares y 90 y 102 del Reglamento de la Ley Federal de Protección
                de Datos Personales en Posesión de Particulares:
                <br>Puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición a través de escrito libre acompañado de
            </p>
            <ul>
                <li>Nombre del titular y su domicilio</li>
                <li>Documentos que acrediten la identidad del titular y, en caso de haberlo, la personalidad e identidad de su representante</li>
                <li>Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO</li>
                <li>La descripción del derecho ARCO que se pretende ejercer, o bien, lo que solicita el titular</li>
                <li>Cualquier otro elemento o documento que facilite la localización de datos personales (fecha de suscripción de contrato, entre otros).</li>
                <li>Firma autógrafa de quien promueve</li>
            </ul>
            <p>
                Este podrá ser presentado en cualquiera de las sucursales en un horario de 9:00 am a 6:00 pm o bien a través del correo 
                <a href="mailto:legal@hulux.mx" >legal@hulux.mx</a>
                , se proporcionará número de folio para el seguimiento de su solicitud y se dará respuesta en un término de 20 días, que podrán ampliarse en caso de causa justificada. En caso de resultar procedente se dará respuesta dentro de los 15 días posteriores.
                En caso de que HULUX no sea competente para atender la solicitud para el ejercicio de los derechos ARCO, lo hará del conocimiento dentro de los tres días siguientes a la presentación de tu solicitud.
            </p>
            <h2>
                Mecanismos para revocar el consentimiento al tratamiento de datos personales
            </h2>
            <p>
                En cumplimiento del vigésimo noveno de los Lineamientos del Aviso de privacidad, artículo 08, último párrafo de la Ley Federal de Protección de Datos Personales en Posesión de Particulares y 21 del Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de Particulares:
                Puedes revocar el consentimiento otorgado a HULUX para el tratamiento de tus datos personales mediante solicitud a la que deberás acompañar: 
            </p>
            <ul>
                <li>Nombre del titular y su domicilio</li>
                <li>Documentos que acrediten la identidad del titular y, en caso de haberlo, la personalidad e identidad de su representante</li>
                <li>Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO</li>
                <li>La descripción del derecho ARCO que se pretende ejercer, o bien, lo que solicita el titular</li>
                <li>Cualquier otro elemento o documento que facilite la localización de datos personales (fecha de suscripción de contrato, entre otros).</li>
                <li>Firma autógrafa de quien promueve</li>
            </ul>
            <h2>Limite en el uso o divulgación de los datos personales</h2>
            <p>
                HULUX no realiza llamadas a los números proporcionados por el cliente para publicitar los servicios.
                El contrato adhesivo de HULUX se encuentra debidamente inscrito ante la Procuraduría Federal del Consumidor y disponible en la liga: <br>
                <a class="break-words whitespace-normal overflow-visible" href="https://burocomercial.profeco.gob.mx/ca_spt/Hulux%20Telecomunicaciones,%20S.A.S.%20de%20C.V.!!Hulux%20Telecomunicaciones,%20S.A.S.%20de%20C.V.%20085-2022.pdf">
                    https://burocomercial.profeco.gob.mx/ca_spt/Hulux%20Telecomunicaciones,%20S.A.S.%20de%20C.V.!!Hulux%20Telecomunicaciones,%20S.A.S.%20de%20C.V.%20085-2022.pdf
                </a> <br>
                demostrando su cumplimiento en el respeto de los derechos del consumidor, así mismo se pone a tu disposición el correo
                <a href="mailto:legal@hulux.com">legal@hulux.com</a> 
                para el ejercicio de tus derechos de Acceso, Rectificación Cancelación y Oposición (ARCO) mediante el procedimiento que se menciona en el presente.
                Lo anterior sin limitar el derecho de ejecutar los procedimientos que proveen las instancias gubernamentales pertinentes; Procuraduría Federal del Consumidor, Registro Público para Evitar la Publicidad:
                <a href="https://repep.profeco.gob.mx/index.jsp">https://repep.profeco.gob.mx/index.jsp</a> <br>
                En todo momento podrás acudir ante el Instituto Federal de Acceso a la Información y Protección de Datos a presentar reclamación y este resolverá en los términos de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.
            </p>
            <h2>
                De los medios remotos o locales de comunicación electrónica, óptica u otra tecnología, que recaban datos personales de manera automática 
            </h2>
            <p>
                HULUX no recaba información a través de medios remotos o locales de comunicación electrónica, óptica u otra tecnología. El servicio de soporte técnico brindado a través de la aplicación de mensajería instantánea (Whatsapp) funciona con los datos proporcionados por el cliente al momento de la firma
                del contrato de adhesión, HULUX no conserva los mensajes intercambiados durante esta interacción.
            </p>
            <h2>
                Cambios al Aviso de Privacidad 
            </h2>
            <p>
                Las actualizaciones a este Aviso de Privacidad, por motivo de cambio en el marco legal que rige la Protección de Datos en Posesión de Particulares o aquellos referentes a la modificación de la composición de esta empresa, se harán de tu conocimiento a través del sitio web
                <a href="https://hulux.mx">https://hulux.mx</a>, vía correo electrónico o en las instalaciones de HULUX TELECOMUNICACIONES, S.A.S DE C.V.
                <br> <br>
                Año de actualización 2024
            </p>
        </div>
</Layout>
<style>
    a{
        text-decoration: underline;
        color: var(--color-secondary);
    }
    h1,h2,p,ul{
        margin-bottom: 32px;
    }
    ul{
        list-style-type: disc;
    }
    li{
        margin-bottom: 12px;
        margin-left: 32px;
    }
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.3;
    }
    h2{
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.3;
    }
</style>