---
import Layout from "../Layouts/Layout.astro"
import Contenedor from "../Components/contenedor.astro";
import Highlights from "../Components/Highlights.astro";
import Formulario from "../Components/formulario.astro";
import ContenedorReusable from "../Components/ContenedorReusable.astro";
import CasrruselComponent from "../Components/CasrruselComponent.astro";
import ServiciosCard from "../Components/ServiciosCard.astro";
import SliderReutilizable from "../Components/SliderReutilizable.astro";

//Imagenes
import img1 from "../assets/Entretenimiento_hulux.png";
import img2 from "../assets/Estudiando_con_hulux.png";
import img3 from "../assets/Trabajando_con_hulux.png";
import img4 from "../assets/Carr_2.4.png";
---

<Layout>
	<Contenedor />
	<ContenedorReusable />
	<Highlights />
	<div class="flex flex-col items-center justify-center bg-secondary py-18 gap-12">
		<h3 class="text-white font-bold text-2xl sm:text-4xl text-center"> Conoce nuestros servicios de internet </h3>
		<!-- Prueba -->
		<SliderReutilizable prefix="t" class_="testimonial" excludeArrows maxWidth={1430}>
			<div class="flex items-center justify-center">
				<ServiciosCard titulo="Residencial" texto="Disfruta de una conexión rápida y estable en tu hogar. Ideal para entretenimiento, educación y trabajo desde casa." />
			</div>
			<div class="flex items-center justify-center">
				<ServiciosCard titulo="Dedicado" texto="Conexiones personalizadas para instituciones y grandes empresas, garantizando el máximo rendimiento y soporte personalizado." />
			</div>
			<div class="flex items-center justify-center">
				<ServiciosCard titulo="Empresarial" texto="Soluciones de internet diseñadas para mantener tu negocio operando a máxima velocidad y eficiencia" />
			</div>
		</SliderReutilizable>
	</div>
	<CasrruselComponent
		titulo="Conexiones que importan"
		logo
		imagenes={[img1,img2,img3,img4]}
	/>
	<Formulario />
</Layout>