---
import Layout from "../Layouts/Layout.astro"
import Contenedor from "../Components/contenedor.astro";
import Highlights from "../Components/Highlights.astro";
import Formulario from "../Components/formulario.astro";
import ContenedorReusable from "../Components/ContenedorReusable.astro";
import CasrruselComponent from "../Components/CasrruselComponent.astro";

//Imagenes
import img1 from "../assets/Entretenimiento_hulux.png";
import img2 from "../assets/Estudiando_con_hulux.png";
import img3 from "../assets/Trabajando_con_hulux.png";
import img4 from "../assets/Carr_2.4.png";
import Slider from "../Components/Slider.astro";
---

<Layout>
	<Contenedor />
	<ContenedorReusable />
	<Highlights />
	<div class="flex flex-col items-center justify-center">
		<Slider>
			<div class="border border-alternate flex flex-col items-center justify-center px-6">  </div>
			<div class="border border-alternate flex flex-col items-center justify-center px-6"><div class="border border-alternate w-full max-w-[340px]"> Hello</div></div>
			<div class="border border-alternate flex flex-col items-center justify-center px-6"><div class="border border-alternate w-full max-w-[340px]"> Hello</div></div>
		</Slider>
	</div>
	<CasrruselComponent
		titulo="Conexiones que importan"
		logo
		imagenes={[img1,img2,img3,img4]}
	/>
	<Formulario />
</Layout>