---
import Layout from "../Layouts/Layout.astro";
import img from "../assets/images/services_hero.gif";
import Hero from "../Components/Hero.astro";
import CasrruselComponent from "../Components/CasrruselComponent.astro";

//Imagenes
import img1 from "../assets/Entretenimiento_hulux.png";
import img2 from "../assets/Estudiando_con_hulux.png";
import img3 from "../assets/Trabajando_con_hulux.png";
import img4 from "../assets/Carr_2.4.png";
import Padding from "../Components/Utilidades/Padding.astro";
import SliderReutilizable from "../Components/SliderReutilizable.astro";
import PlanResidencial from "../Components/PlanResidencial.astro";
---

<Layout>
	<Hero
		title="Nuestros servicios"
		subtitle="Ofrecemos paquetes de internet diseñados para satisfacer todas tus necesidades de conectividad, con la confiabilidad y velocidad que mereces."
		bgImage={img}
	/>

	<Padding>

		<section class="py-8 text-secondary">
			<h2 class="font-bold text-2xl sm:text-4xl mb-12 text-center sha">Servicios residenciales</h2>

			<SliderReutilizable class_="residenciales" prefix="sr">
				<div class="flex items-center justify-center"> 
					<PlanResidencial  nombre="Básico" cantidad={50} precio={349}/>
				</div>
				<div class="flex items-center justify-center">
					<PlanResidencial nombre="Estándar" cantidad={100} precio={449} />
				</div>
				<div class="flex items-center justify-center">
					<PlanResidencial nombre="Pro" cantidad={200} precio={699}/>
				</div>
				<div class="flex items-center justify-center">
					<PlanResidencial  nombre="Ultra" cantidad={500} precio={999}/>
				</div>
			</SliderReutilizable>
		</section>

	</Padding>

	<CasrruselComponent
		titulo="Tenemos un plan perfecto para tí"
		imagenes={[img1,img2,img3,img4]}
	/>

	
</Layout>