---
import img from "../../assets/images/app.png";
---
<section class="flex flex-col items-center justify-center bg-primary py-16 gap-8">

    <p class="text-4xl text-white">Descarga nuestra app</p>

    <div class="w-2/5 min-w-[210px] max-w-[610px]">
        <img src={img.src} alt="App Hulux Connect"/>
    </div>
</section>