---
import Padding from "../Utilidades/Padding.astro";
---

<div id="sucursales" class="bg-secondary py-10">
    <Padding bg> 

        <section class="text-white ">
    
            <div class="flex flex-col gap-12">
                
                <div>

                    <h2 class="text-bold text-2xl mb-6">
                        Hulux Telecomunicaciones
                    </h2>
        
                    <article>

                        <header class="mb-2">
                            Oficina central
                        </header>

                        <ul class="text-light-text" >
                            <li>
                                5 de Mayo #78, Centro sur, 42505 Actopan, Hidalgo.
                            </li>
                            -
                            <li>
                                <a href="tel:+527721507013">(772) 150-7013</a>
                            </li>
                            <li>
                                <a href="tel:+527727273403">(772) 727-3403  (10 Líneas disponibles)</a>
                            </li>
                            <li>
                                <a href="tel:+527721689992">(772) 168-0002  (10 Líneas disponibles)</a>
                            </li>
                            <li>
                                <a href="mailto:hola@hulux.mx">hola@hulux.mx</a>
                            </li>
                        </ul>
                    </article>
                </div>
                
                <div class="w-full border border-secondary-text/20"></div>
        
               <div >
                    <h2 class="text-bold text-2xl mb-6">
                        Nuestras sucursales
                    </h2>
        
                    <!--  GRID -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Actopan
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        5 de Mayo #78, Centro sur, 42505 Actopan, Hidalgo.
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes de 09:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 17:00 hrs.
                                </li>
                            </ul>
                        </article>

                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Tetepango
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Av. Aguascalientes #12, Barrio Nicolás Bravo.
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>
                        
                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Tepatepec
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Morelos #4, Centro II Demarcación 42660
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>

                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Progreso de Obregón
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Hotel Real Plaza, calle Tito Estrada S/N.
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>

                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Atitalaquia
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Santos Degollado, Centro, 42970 Atitalaquia.
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>

                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer"> 
                            <header class="mb-5">
                                Huichapan
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Catarino Chacón #24, San Mateo, Huichapan
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>

                        <article class="rounded-lg p-2 hover:bg-blue-400/10 cursor-pointer">
                            <header class="mb-5">
                                Ciudad Sahagún
                            </header>
                            <div class="w-[80%] border-b-secondary-text/40 border-b mb-4"></div>
                            <ul class="text-light-text">
                                <li>
                                    <a href="#" class="hover:underline">
                                        Sauces #60, Carr. Sahagún - Pachuca, Col. Vicente Guerrero, 43998 Cd. Sahagún
                                    </a>
                                </li>
                                -
                                <li>
                                    Lunes a Viernes: 09:00 a 14:00 y de 15:00 a 18:00 hrs.
                                </li>
                                <li>
                                    Sábado de 09:00 a 15:00 hrs.
                                </li>
                            </ul>
                        </article>
                    </div>
               </div>
            </div>
        
        </section>
    
    </Padding>
</div>