---
import SliderReutilizable from "../SliderReutilizable.astro";
import Ttestimonial from "../Testimonial.astro";
import BgContenedor from "../Utilidades/BgContenedor.astro";
---




    <BgContenedor>
    <h3 class="text-white font-bold text-2xl sm:text-4xl text-center">Lo que opinan nuestros clientes de Hulux</h3>
    <br>
    <!-- Prueba -->
    <SliderReutilizable excludeArrows prefix="tst" class_="testt" maxWidth={1430}>
        <div class="flex items-center justify-center">
            <Ttestimonial texto="Su servicio acorde a lo que contraté, es bueno y la atención de su personal hasta el día de hoy siempre muy buena." cliente="Salvador Ángeles" />
        </div>
        <div class="flex items-center justify-center">
            <Ttestimonial texto="Hemos tenido muy pocos detalles de que falle en lo que llevamos con ellos, además tienen muy buen servicio a cliente." cliente="María P." />
        </div>
        <div class="flex items-center justify-center">
            <Ttestimonial texto="Gracias Hulux, son la empresa local más cumplida en servicios de internet." cliente="Amado Reyes"/>
        </div>
        <div class="flex items-center justify-center">
            <Ttestimonial texto="La mejor experiencia en velocidad de internet, su personal es profesional, se preocupan por cumplir las expectativas del cliente." cliente="Viridiana Tapia" />
        </div>
    </SliderReutilizable>
</BgContenedor>