---
import ChevronRight from "../assets/icons/chevron-right.svg";
---
<!-- Inicio del componente -->
<div class="bg-gradient-to-t from-[#153D61] to-secondary text-center text-white px-6 py-16 flex flex-col justify-center items-center relative">
    <!-- Comillas en la esquina superior izquierda -->
    

    <h2 class="font-bold text-2xl sm:text-4xl mb-12">Líderes en telecomunicaciones de alta calidad y tecnología</h2>
    <p class="relative text-base sm:text-lg mb-12 before:content-['“'] before:text-tertiary before:text-[100px] before:absolute before:-top-16 before:-left-6 sm:max-w-[75%]">
        En Hulux, somos líderes en telecomunicaciones de alta calidad y tecnología avanzada, con más de 12 años de experiencia en el mercado. <br> <br class="xl:hidden"> Nos destacamos por ofrecer servicios de internet confiables y veloces, adaptados a las necesidades de hogares, negocios e instituciones.
    </p>
    
    <div class="flex gap-3 items-center justify-center">
        <a href="/nosotros" class="text-base sm:text-xl">Leer más</a>
        <ChevronRight />
    </div>
</div>



