---
interface Props {
  center: boolean;
  bgImage: string;
  title: string;
  subtitle: string;
}

const { center, bgImage, title, subtitle } = Astro.props;
---
  
  <!-- Hero con imagen de fondo -->
  <div class:list={["bg-no-repeat bg-center bg-cover h-[50vh] lg:h-[85vh] relative text-white",`bg-[url(${bgImage})]`]}>
    <div class:list={["content relative top-[191px] sm:top-[222px] lg:top-[311px] lg:px-16", center && "text-center"]}>
      <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-8">{title}</h1>
      <p class="sm:text-xl lg:text-3xl font-light">{subtitle}</p>
    </div>
  </div>