---
import Logo from "./Logo.astro";
import FbIcon from "../assets/icons/facebook.svg";
import InstaIcon from "../assets/icons/instagram.svg";
import InIcon from "../assets/icons/linkedin.svg";
import TiktokIcon from "../assets/icons/tiktok.svg";
import ChevronUp from "../assets/icons/chevron-up.svg";
import Envelope from "../assets/icons/envelope.svg";
import Phone from "../assets/icons/phone.svg"
import WhatsAppIcon from "../assets/icons/whatsappIcon.svg"
---

<footer class="flex flex-col items-start justify-start gap-20 p-9 xl:p-16 px-6 sm:px-16 bg-secondary">
    <Logo/>

    <section class="flex flex-col gap-16 sm:gap-32 lg:gap-48 sm:flex-row border-t-2 border-primary/60 pt-8">
        
        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Acerca de Hulux &reg;</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li class="hover:underline"><a href="#">¿Quiénes somos?</a></li>
                <li class="hover:underline"><a href="#">Portal del cliente</a></li>
                <li class="hover:underline"><a href="#">Legal</a></li>
            </ul>
        </div>

        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Ayuda</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li class="hover:underline"><a href="#">Sucursales</a></li>
                <li class="hover:underline"><a href="#">Preguntas frecuentes</a></li>
                <li class="hover:underline"><a href="#">Test de velocidad</a></li>
            </ul>
        </div>

        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Contáctanos</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li>
                    <a href="mailto:hola@hulux.mx">
                        <div class=" flex gap-2 items-center hover:underline">
                            <Envelope class={"text-secondary-text"}/>
                            hola@hulux.mx
                        </div>
                    </a>
                </li>

                <li>
                    <a href="https://api.whatsapp.com/send/?phone=7721507013">
                        <div class=" flex gap-2 items-center hover:underline">
                            <WhatsAppIcon class={"text-secondary-text"}/>
                            (772) 150-7013
                        </div>
                    </a>
                </li>

                <li>
                    <a href="https://api.whatsapp.com/send/?phone=7727273403">
                        <div class=" flex gap-2 items-center hover:underline">
                            <WhatsAppIcon class={"text-secondary-text"}/>
                            (772) 727-3403
                        </div>
                    </a>
                </li>

                <li>
                    <a href="tel:+527721680002">
                        <div class=" flex gap-2 items-center hover:underline">
                            <Phone class={"text-secondary-text"}/>
                            (772) 168-0002
                        </div>
                    </a>
                </li>

            </ul>
        </div>

    </section>

    <section class="flex flex-col gap-8 sm:flex-row items-center sm:justify-between sm:items-end w-full">

        <div class="text-white text-center">
            <p class="mb-4">Síguenos en:</p>
            <nav>
                <ul class="flex gap-8">
                    <li>
                        <a href="https://www.facebook.com/huluxTelecom/" target="_blank">
                            <FbIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/hulux_telecom/" target="_blank">
                            <InstaIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="https://mx.linkedin.com/company/hulux-telecomunicaciones-qro" target="_blank">
                            <InIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@hulux_mx" target="_blank">
                            <TiktokIcon/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>

        <a class="p-4 rounded-md hover:bg-secondary-text" href="#">
            <ChevronUp/>
        </a>
    </section>
</footer>