---
import Logo from "./Logo.astro";
import FbIcon from "../assets/icons/facebook.svg";
import InstaIcon from "../assets/icons/instagram.svg";
import InIcon from "../assets/icons/linkedin.svg";
import TiktokIcon from "../assets/icons/tiktok.svg";
import ChevronUp from "../assets/icons/chevron-up.svg";
import Envelope from "../assets/icons/envelope.svg";
import Phone from "../assets/icons/phone.svg"
import WhatsAppIcon from "../assets/icons/whatsappIcon.svg"
---

<footer class="flex flex-col items-start justify-start gap-24 py-16 px-6 sm:px-16 bg-secondary">
    <Logo/>

    <section class="flex flex-col gap-16 sm:gap-32 lg:gap-48 sm:flex-row">
        
        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Acerca de Hulux</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li>¿Quiénes somos?</li>
                <li>Portal del cliente</li>
                <li>Legal</li>
            </ul>
        </div>

        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Ayuda</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li>Sucursales</li>
                <li>Preguntas frecuentes</li>
                <li>Test de velocidad</li>
            </ul>
        </div>

        <div class="flex flex-col gap-8">
            <p class="text-white text-xl">Contáctanos</p>
            <ul class="text-secondary-text flex flex-col gap-5">
                <li>
                    <div class=" flex gap-2 items-center">
                        <Envelope class={"text-secondary-text"}/>
                        <p>hola@hulux.mx</p>
                    </div>
                </li>

                <li>
                    <div class=" flex gap-2 items-center">
                        <WhatsAppIcon class={"text-secondary-text"}/>
                        <p>(772) 150-7013</p>
                    </div>
                </li>
                
                <li>
                    <div class=" flex gap-2 items-center">
                        <WhatsAppIcon class={"text-secondary-text"}/>
                        <p>(772) 727-7403</p>
                    </div>
                </li>

                <li>
                    <div class=" flex gap-2 items-center">
                        <Phone class={"text-secondary-text"}/>
                        <p>(772) 168-0002</p>
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section class="flex flex-col gap-8 sm:flex-row items-center sm:justify-between sm:items-end w-full">

        <div class="text-white text-center">
            <p class="mb-4">Síguenos en:</p>
            <nav>
                <ul class="flex gap-8">
                    <li>
                        <a href="#">
                            <FbIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <InstaIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <InIcon/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <TiktokIcon/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>

        <a class="p-4 rounded-md hover:bg-secondary-text" href="#">
            <ChevronUp/>
        </a>
    </section>
</footer>