---
import BgContenedor from "./Utilidades/BgContenedor.astro";

const municipioLocalidades = {
  otro: [""],
  ajacuba: ["Centro", "Santiago Tezontlale"],
  santiago: ["Centro", "Cerritos", "El jaguey", "El porvenir", "Gonzales Ortega", "Guerrero",
    "Hermosillo", "Lagunilla", "Patria Nueva", "Santa Mónica", "Yolotepec", "Zaragoza"],
  actopan: ["Actopan Centro", "Bothibaji", "Boxaxni", "Boxtha", "Calle María del Carmen Goznález", "Canguihuindo", "Carretera Tianguis", "Cañada Aviación",
    "Cañada Chica/Los Olivos", "Cañada Chica Antigua", "Chicavasco", "Col. Cuahutémoc/Huaxtho", "Col. El Cerrito", "Col. Guadalupe", "Dajiedhi (Hacia Guzmán Mayer",
  "Dajiedhi Centro", "Daxtha", "Dos Cerritos", "El Meje", "El Palomo", "Fraccionamiento Parque Recreativo", "Fundición", "Guzmán Mayer", "Huaxtho", "La Estancia", "La Loma",
"La Peña", "Parque Urbano", "Pozo Grande", "Santa María Magdalena", "Unidad Deportiva", "Xideje (La Estancia)"],
  tepa: ["Col. Lázaro Cardenas", "El Rosario", "La Palma", "San Juan Tepa", "Tepatepec", "Unidad Magisterial"],
  progreso: ["Centro", "Colonia Morelos", "Colonia Veracruz", "Jaguey Blanco"],
  atita: ["Cardonal", "Centro", "Colonia Dendho", "Dendho", "Tezoquipa", "Tiamaco"],
  huichapan: ["Centro", "La sabinita", "Mamithi", "Rojo Goméz", "San José Atlán"],
  arenal: ["Centro", "Colonia 20 de Noviembre", "El Jiadi", "El Rincón", "Ojo de agua", "San José Tepenene"],
  salvador: ["Bocaja", "Bomintzha", "Casa Grande", "Caxuxi", "Cañada Grande", "Cerro Pacheco", "Colorado Santa María", "Demacú", "Dengandhó", "Dexthó de Victoria", "El Bondho",
    "El Durazno", "El Olvera", "El puerto Lázaro Cárdenas", "El Rodrigo", "El Tablón", "El Vixtha", "Fracc. Media Luna", "Leonardo Valle", "Pacheco de Rojo Gómez", "Poxindeje",
  "San Antonio Zaragoza", "San Miguel Acambay", "San Salvador", "Santa María Amajac", "Teofani", "Tothie"],
  tetepango: ["Centro", "Juandho", "Niño Perdido", "Uluapa", "Xitri"],
  mixquiahuala: ["Carrilo Puerto", "Cañada", "Col. Morelos", "Col. Veracruz", "El Bondho", "Mixquiahuala Centro", "Motobatha", "Palmillas", "Taxhuada", "Teñhe", "Árbol Grande"]
} as Record<'otro' | 'actopan' | 'santiago' | 'ajacuba' | 'tepa' | 'progreso' | 
'atita' | 'huichapan' | 'arenal' | 'salvador' | 'tetepango' | 'mixquiahuala', string[]>;
---

<BgContenedor>
  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-[#11293e] text-[#f0f0f0] w-full p-4 max-w-4xl shadow-xl rounded-2xl">
      <h2 class="text-4xl text-[#ff6600] font-bold text-center mb-2">Información</h2>
      <p class="text-2xl text-center mb-6">Déjanos tus datos y nuestro equipo se pondrá en contacto contigo.</p>

      <form id="formulario" class="flex flex-col gap-6" action="https://formsubmit.co/marketing@hulux.mx" method="POST">
        <input type="hidden" name="_template" value="box">
        <div class="flex flex-wrap gap-4">
          <input type="text" name="nombre" placeholder="Nombre*" required class="bg-white flex-1 p-3 rounded-lg text-black text-base" />
          <input type="text" name="apellidos" placeholder="Apellidos*" required class="bg-white flex-1 p-3 rounded-lg text-black text-base" />
        </div>

        <div class="flex flex-wrap gap-4">
          <input type="tel" 
          name="telefono" 
          placeholder="Teléfono*" 
          required 
          maxlength="10" 
          inputmode="numeric"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          onkeypress="if (event.key < '0' || event.key > '9') event.preventDefault();"
          class="bg-white flex-1 p-3 rounded-lg text-black text-base" />
          <input type="tel" 
          name="telefono_adicional"
          placeholder="Teléfono adicional" 
          maxlength="10" 
          inputmode="numeric"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"
          onkeypress="if (event.key < '0' || event.key > '9') event.preventDefault();"
          class="bg-white flex-1 p-3 rounded-lg text-black text-base" />
        </div>

        <div class="flex flex-wrap gap-4">
          <select id="estado" name="Estado" required class="bg-white flex-1 p-3 rounded-lg text-black text-base">
            <option value="">Estado*</option>
            <option value="Hidalgo">Hidalgo</option>
          </select>

          <select id="municipio" required name="Municipio" class="bg-white flex-1 p-3 rounded-lg text-black text-base">
            <option value="">Seleccionar municipio*</option>
            <option value="otro">Otro</option>
            <option value="ajacuba">Ajacuba</option>
            <option value="santiago">Santiago de Anaya</option>
            <option value="tetepango">Tetepango</option>
            <option value="salvador">San Salvador</option>
            <option value="progreso">Progreso de Obregón</option>
            <option value="mixquiahuala">Mixquiahuala</option>
            <option value="tepa">Francisco I. Madero</option>
            <option value="atita">Atitalaquia</option>
            <option value="arenal">El arenal</option>
            <option value="actopan">Actopan</option>
            <option value="huichapan">Huichapan</option>
          </select>
        </div>

        <div class="flex flex-wrap gap-4">
          <select id="localidad" name="Localidad" required class="bg-white flex-1 p-3 rounded-lg text-black text-base">
            <option value="">Seleccionar localidad*</option>
            <option value="Actopan">Actopan, centro</option>
          </select>

          <input type="text" placeholder="Dirección" name="direccion" class="bg-white flex-1 p-3 rounded-lg text-black text-base" />
        </div>

        <div class="flex flex-wrap gap-4">
          <select class="bg-white w-full py-3 rounded-lg text-black text-base" name="motivo">
            <option value="">Motivo de consulta*</option>
            <option value="servicio_recidencial">Servicios recidenciales</option>
            <option value="servicio_recidencia_+TV">Servicios recidenciales + Hulux TV</option>
            <option value="soporte">Soporte técnico</option>
            <option value="servicio_empresarial">Servicio empresarial</option>
            <option value="dedicado">Dedicado</option>
          </select>

          <select class="bg-white w-full py-3 rounded-lg text-black text-base" name="metodoContacto">
            <option value="">¿Cómo prefiere ser contactado?</option>
            <option value="telefono">Llamada telfónica</option>
            <option value="correo">Mensaje de WhatssApp</option>
          </select>
        </div>

        <button type="submit" class="bg-[#ff6600] hover:bg-[#cddb00] text-white font-semibold text-lg py-3 rounded-xl transition-colors duration-300 mt-2">
          Enviar
        </button>
      </form>
    </div>
  </div>
</BgContenedor>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const municipioLocalidades = {
      otro: [""],
      ajacuba: ["Centro", "Santiago Tezontlale"],
      santiago: ["Centro", "Cerritos", "El jaguey", "El porvenir", "Gonzales Ortega", "Guerrero",
    "Hermosillo", "Lagunilla", "Patria Nueva", "Santa Mónica", "Yolotepec", "Zaragoza"],
      actopan: ["Actopan Centro", "Bothibaji", "Boxaxni", "Boxtha", "Calle María del Carmen Goznález", "Canguihuindo", "Carretera Tianguis", "Cañada Aviación",
    "Cañada Chica/Los Olivos", "Cañada Chica Antigua", "Chicavasco", "Col. Cuahutémoc/Huaxtho", "Col. El Cerrito", "Col. Guadalupe", "Dajiedhi (Hacia Guzmán Mayer",
  "Dajiedhi Centro", "Daxtha", "Dos Cerritos", "El Meje", "El Palomo", "Fraccionamiento Parque Recreativo", "Fundición", "Guzmán Mayer", "Huaxtho", "La Estancia", "La Loma",
"La Peña", "Parque Urbano", "Pozo Grande", "Santa María Magdalena", "Unidad Deportiva", "Xideje (La Estancia)"],
      tepa: ["Col. Lázaro Cardenas", "El Rosario", "La Palma", "San Juan Tepa", "Tepatepec", "Unidad Magisterial"],
      progreso: ["Centro", "Colonia Morelos", "Colonia Veracruz", "Jaguey Blanco"],
      atita: ["Cardonal", "Centro", "Colonia Dendho", "Dendho", "Tezoquipa", "Tiamaco"],
      huichapan: ["Centro", "La sabinita", "Mamithi", "Rojo Goméz", "San José Atlán"],
      arenal: ["Centro", "Colonia 20 de Noviembre", "El Jiadi", "El Rincón", "Ojo de agua", "San José Tepenene"],
      salvador: ["Bocaja", "Bomintzha", "Casa Grande", "Caxuxi", "Cañada Grande", "Cerro Pacheco", "Colorado Santa María", "Demacú", "Dengandhó", "Dexthó de Victoria", "El Bondho",
    "El Durazno", "El Olvera", "El puerto Lázaro Cárdenas", "El Rodrigo", "El Tablón", "El Vixtha", "Fracc. Media Luna", "Leonardo Valle", "Pacheco de Rojo Gómez", "Poxindeje",
  "San Antonio Zaragoza", "San Miguel Acambay", "San Salvador", "Santa María Amajac", "Teofani", "Tothie"],
      tetepango: ["Centro", "Juandho", "Niño Perdido", "Uluapa", "Xitri"],
      mixquiahuala: ["Carrilo Puerto", "Cañada", "Col. Morelos", "Col. Veracruz", "El Bondho", "Mixquiahuala Centro", "Motobatha", "Palmillas", "Taxhuada", "Teñhe", "Árbol Grande"]
    };

    const municipioSelect = document.getElementById("municipio");
    const localidadSelect = document.getElementById("localidad");

    if (municipioSelect && localidadSelect) {
      municipioSelect.addEventListener("change", () => {
        const selected = municipioSelect.value;
        const localidades = municipioLocalidades[selected] || [];

        localidadSelect.innerHTML = '<option value="">Seleccionar localidad*</option>';
        localidades.forEach(loc => {
          const option = document.createElement("option");
          option.value = loc;
          option.textContent = loc;
          localidadSelect.appendChild(option);
        });
      });
    }
  });
</script>
