---
import MenuIcon from "../assets/menu.svg";
import MenuIconSmall from "../assets/menuSmall.svg";
import Logo from "./Logo.astro";

const path = Astro.url.pathname;
---

<header class="p-9 xl:p-16 flex items-center justify-between fixed w-full top-0 transition-colors">
    <Logo/>

    <nav class="hidden xl:flex gap-5 text-white text-lg items-center">
        <a class:list={["py-2 px-5 rounded-2xl", path === "/" && "bg-primary"]} href="/">Inicio</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/nosotros" && "bg-primary"]} href="/nosotros">Nosotros</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/servicios" && "bg-primary"]} href="/servicios">Servicios</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/contactanos" && "bg-primary"]} href="/contactanos">Contáctanos</a>
        <a class="py-2 px-5 rounded-2xl bg-tertiary text-secondary" href="#">Contratar</a>
    </nav>
    
    <MenuIcon class={"hidden sm:block xl:hidden menubutton"}/>
    <MenuIconSmall class={"block sm:hidden menubutton"} />
</header>
<style>
    .bg-solid{
        background-color: var(--color-secondary);
    }
</style>
<script>
    //Cambio de color en el header al hacer scroll
    const header = document.getElementsByTagName("header")[0];
    if(scrollY > 200) header.classList.add("bg-solid");
    else header.classList.remove("bg-solid");
    
    window.addEventListener("scroll", ()=>{
        if(scrollY > 200){
            header.classList.add("bg-solid");
        }else{
            header.classList.remove("bg-solid");
        }
    });

    //Botón menú
    const buttons = document.getElementsByClassName("menubutton");
    const menu = document.getElementById("mobileMenu");

    function toggleMenu() {
        menu?.classList.toggle("translate-x-full");
        menu?.classList.toggle("translate-x-0");
        menu?.classList.toggle("pointer-events-none");
    }

    for (const button of buttons) {
        button.addEventListener("click",()=>{
            toggleMenu();
        });
    }
</script>