---
import MenuIcon from "../assets/menu.svg";
import MenuIconSmall from "../assets/menuSmall.svg";
import Logo from "./Logo.astro";

const path = Astro.url.pathname;
---

<header class="z-20 py-9 xl:py-16 px-6 sm:px-9 lg:px-16 flex items-center justify-between fixed w-full top-0 transition-colors">

     <Logo classList={"transition-opacity duration-200"}/>

    <nav class="hidden xl:flex gap-5 text-white text-lg items-center">
        <a class:list={["py-2 px-5 rounded-2xl", path === "/" && "bg-primary"]} href="/">Inicio</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/nosotros" && "bg-primary"]} href="/nosotros">Nosotros</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/servicios" && "bg-primary"]} href="/servicios">Servicios</a>
        <a class:list={["py-2 px-5 rounded-2xl", path === "/contactanos" && "bg-primary"]} href="/contactanos">Contáctanos</a>
        <a class="py-2 px-5 rounded-2xl bg-tertiary text-secondary" href="#">Contratar</a>
    </nav>
    
    <div class="menu-toggle block xl:hidden" id="button" >
        <svg viewBox="0 0 100 100" width="32" height="32">
            <rect class="line top" width="80" height="10" x="10" y="25" rx="2" />
            <rect class="line middle" width="80" height="10" x="10" y="45" rx="2" />
            <rect class="line bottom" width="80" height="10" x="10" y="65" rx="2" />
        </svg>
    </div>
    
</header>
<style>
    .bg-solid{
        background-color: var(--color-secondary);
    }
    .menu-toggle {
        cursor: pointer;
        transition: 0.3s ease;
    }

    .line {
        fill: var(--color-tertiary);
        transition: all 0.3s ease;
        transform-origin: center;
    }

    /* ANIMACIÓN AL ABRIR */
    .menu-toggle.open .top {
        transform: rotate(45deg) translate(10px, 10px);
    }

    .menu-toggle.open .middle {
        opacity: 0;
    }

    .menu-toggle.open .bottom {
        transform: rotate(-45deg) translate(10px, -10px);
    }

</style>
<script>
    //Cambio de color en el header al hacer scroll
    const header = document.getElementsByTagName("header")[0];
    const scrollDistance = 80;
    if(scrollY > scrollDistance){
        header.classList.add("bg-solid");
    }
    else header.classList.remove("bg-solid");
    
    window.addEventListener("scroll", ()=>{
        if(scrollY > scrollDistance){
            header.classList.add("bg-solid");
        }else{
            header.classList.remove("bg-solid");
        }
    });

    //Botón menú
    const button = document.getElementById("button");
    const menu = document.getElementById("mobileMenu");
    const logo = document.getElementById("logo");

    function toggleMenu() {
        button?.classList.toggle("open");
        menu?.classList.toggle("translate-x-full");
        menu?.classList.toggle("translate-x-0");
        menu?.classList.toggle("pointer-events-none");
        logo?.classList.toggle("opacity-0");
    }

    button?.addEventListener("click", toggleMenu);
</script>