---

interface Props {
  center?: boolean;
  bgImage?: ImageMetadata;
  title: string;
  subtitle: string;
  showSlot?: boolean;
}

let { center = false, bgImage, title, subtitle, showSlot=false } = Astro.props;
const mobileTopMargin = subtitle.length > 40 ? 131 : 191;
---
<div
  id="top"
  class:list={[
  "hero h-[50vh] lg:h-[85vh] max-h-[780px] relative text-white",
  !center && "px-6 sm:px-9 lg:px-16"
  ]}
  style={`background-image: url(${bgImage?.src || "/server.gif"})`}
>
  <!-- Capa de superposición -->
  <div class="absolute inset-0 bg-[#11293e] opacity-20 z-0"></div>

  <!-- Contenido -->
  <div
  class:list={[
  "flex flex-col justify-center w-full relative z-10 top-1/2 -translate-y-1/2",
  center && "items-center"
  ]}
  >
    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-8">{title}</h1>
    <p class:list={["sm:text-xl lg:text-3xl max-w-[80%]", center && "text-center"]}>
      {subtitle}
    </p>
    { 

      showSlot &&  <slot />
    }
  </div>
</div>

<style>
  .hero{
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, #0F2239 80%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
