<section class="py-18 px-6 sm:px-9 bg-white flex flex-col md:flex-row gap-24 justify-center items-center" id="hl-animation">
    <!-- Card -->
    <div class="text-center flex flex-col gap-5 max-w-[400px]">
        <p class="text-6xl text-primary font-bold animable" id="years">
            + 2
        </p>
        <p class="text-3xl text-primary"> años de experiencia</p>
        <p>
            Con nuestro compromiso y filosofía de conectar a las personas con lo que más les importa, ofreciendo un servicio de internet confiable y veloz
        </p>
    </div>

    <!-- Card -->
    <div class="text-center flex flex-col gap-5 max-w-[400px]">
        <p class="text-6xl text-primary font-bold animable" id="projects">
            + 80
        </p>
        <p class="text-3xl text-primary">Proyectos exitosos</p>
        <p>
            Con nuestro compromiso y filosofía de conectar a las personas con lo que más les importa, ofreciendo un servicio de internet confiable y veloz
        </p>
    </div>

    <!-- Card -->
    <div class="text-center flex flex-col gap-5 max-w-[400px]">
        <p class="text-5xl text-primary font-bold">
            Miles
        </p>
        <p class="text-3xl text-primary">de clientes satisfechos</p>
        <p>
            Con nuestro compromiso y filosofía de conectar a las personas con lo que más les importa, ofreciendo un servicio de internet confiable y veloz
        </p>
    </div>
</section>
<script>

    const elemento = document.querySelector('#hl-animation');
    const animables = document.getElementsByClassName("animable");
    const values = [2,80];
    const numerosCuentaYears = 10;
    const numerosCuentaProjects = 20;
    let played = false;
    let intervalYears: number;
    let intervalProjects: number;
    let indexYears = 0;
    let indexProjects = 0;

    function animarYears(){
        let beforeValue = values[0];
        values[0] = ++beforeValue;
        animables[0].textContent = `+ ${values[0]}`;
        indexYears ++ ;

        if (indexYears >= numerosCuentaYears) clearInterval(intervalYears);
    };
    function animarProjects(){
        let beforeValue = values[1];
        values[1] = ++beforeValue;
        animables[1].textContent = `+ ${values[1]}`;

        indexProjects ++;

        if (indexProjects >= numerosCuentaProjects) clearInterval(intervalProjects);
    }


    if(elemento){
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    if(!played){
                        intervalYears = setInterval(animarYears,100);
                        intervalProjects = setInterval(animarProjects,50);
                        played = true;
                    }
                }
            });
        }, {
            threshold: 0.1 // 10% del elemento visible ya cuenta como "visible"
        });

        observer.observe(elemento);
    }

</script>