---
// components/HuluxHistoria.astro
---

<section id="historia" class="w-full bg-[#11293e] text-white py-20 px-10">
    <div class="max-w-[95%] mx-auto flex flex-col md:flex-row items-left justify-between gap-12">
      
      <!-- Texto -->
      <div class="md:w-1/2">
        <h2 class="text-4xl md:text-5xl font-bold mb-6">
          La historia detrás de  <br> Hulux
        </h2>
        <br>
        <p class="text-lg leading-relaxed">
          El nombre 'Hulux' proviene de 'Humanos de Luz', reflejando nuestra misión y valores. 
          Somos un equipo dedicado a iluminar vidas mediante la conectividad y la tecnología, 
          ofreciendo servicios de telecomunicaciones de alta calidad bajo la filosofía de impulsar 
          conexiones que importan.
        </p>
      </div>
  
      <!-- Imagen decorativa con círculos -->
      <div class="md:w-1/2 flex justify-end items-center">
        <img 
          src="/Purple_And_White_Modern_Mobile_App_Promotion_Instagram_Post_(1)_(1).gif" 
          alt="Conexiones Hulux" 
          class="max-w-[500px] w-full h-auto"
        />
      </div>
  
    </div>
  </section>
  