---
import Image from "astro/components/Image.astro"
import img from "../assets/logo_naranja.png";
---
<div class="w-26 h-6 sm:w-38 sm:h-9 xl:w-44 xl:h-11">
    <Image src={img} alt={"Logo de Hulux Telecomunicaciones"}></Image>
</div>