---
// components/HuluxMision.astro
---

<section 
    class="w-full h-[90vh] bg-no-repeat bg-center bg-cover text-white py-32 px-10 flex items-end"
  style="background-image: url('src/assets/Mision.png');"
>
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-start justify-start gap-12 w-full">

    <!-- Texto alineado a la izquierda -->
    <div class="md:w-1/2">
      <h2 class="text-4xl md:text-7xl font-bold mb-6">
        Nuestra misión
      </h2>
      <p class="text-lg leading-relaxed">
        Proporcionar servicios de telecomunicaciones y redes de alta calidad,
        enfocándonos en llevar conectividad a comunidades desatendidas,
        con un compromiso inquebrantable hacia la experiencia y satisfacción del cliente.
      </p>
    </div>

  </div>
</section>
