---
interface Props {
    nombre: string;
    cantidad: number;
    precio: number;
}

const {cantidad, nombre, precio} = Astro.props;
---

<article class="w-80 rounded-xl bg-white relative flex flex-col items-center justify-end gap-4 p-4 text-secondary text-center drop-shadow-lg">
						
    <div class="shadow-xl bg-tertiary absolute w-full top-4 h-12 flex items-center justify-center">
        <p class="text-secondary text-3xl font-bold text-center">{`${nombre}`}</p>							
    </div>

    <p class="mt-16 font-light text-center">Internet fibra óptica simétrico</p>

    <div class="text-center">
        <p class="font-bold text-4xl">
            {`${cantidad} Megas`}
        </p>
        <p class="text-primary font-light">De velocidad</p>
    </div>

    <p class="font-light">Por sólo</p>

    <div class="flex items-center justify-center gap-2 w-full">
        <p class="text-4xl font-bold">
            {
                `$${precio}`
            }
        </p>
        <p class="font-bold text-primary">
            /mes
        </p>
    </div>

    <div class="w-full mb-2">
        <a href="#" class="block w-full bg-secondary py-3 rounded-md mb-1 text-white">
            Contratar
        </a>
        <a href="#" class="underline text-[12px] font-light"> Formato simplificado </a>
    </div>

</article>