---
interface Props {
    nombre: string;
    cantidad: number;
    caracteristicas: string[];
}

const {cantidad, nombre, caracteristicas} = Astro.props;
---

<article class="w-80 rounded-xl bg-white relative flex flex-col items-center justify-end gap-4 p-4 text-secondary text-center drop-shadow-lg">
						
    <div class="shadow-xl bg-tertiary absolute w-full top-4 h-12 flex items-center justify-center">
        <p class="text-secondary text-3xl font-bold text-center">{`${nombre}`}</p>							
    </div>

    <p class="mt-16 font-light text-center">Internet fibra óptica simétrico</p>

    <div class="text-center">
        <p class="font-bold text-4xl">
            {`${cantidad} Megas`}
        </p>
        <p class="text-primary font-light">de velocidad</p>
    </div>

    <div class="w-full">
        <p class="mb-1">Incluye:</p>
        <ul class="text-left mb-2">
            {
                caracteristicas.map(item => (
                <li class="pl-2 flex gap-2">
                    <span class="text-primary font-bold">&check; </span>
                    <p>{item}</p>
                </li>
                ) )
            }
        </ul>
    </div>

    <div class="w-full mb-2">
        <a href="https://api.whatsapp.com/send/?phone=7727273403&text=%20Hola,%20me%20comunico%20desde%20el%20sitio%20oficial%20de%20Hulux.%20%C2%BFPodr%C3%ADan%20proporcionarme%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20servicio%20empresarial%20avanzado%20de%20250%20MB%20por%20favor?" class="block w-full bg-secondary py-3 rounded-md mb-1 text-white">
            Conocer más
        </a>
    </div>

</article>