<article class="flex flex-col justify-center items-center py-6 rounded-md bg-white px-4 text-center w-[366px] flex-shrink-0">
    <div class="flex flex-col gap-9 items-center justify-center">
      <div class="rounded-full bg-[url(../assets/Entretenimiento_hulux.png)] bg-center bg-cover aspect-square h-36"></div>
      <p class="text-3xl font-bold">Residencial</p>
      <p>
        Disfruta de una conexión rápida y estable en tu hogar. Ideal para entretenimiento, educación y trabajo desde casa.
      </p>
    </div>
</article>