---
import ChevronRight from "../assets/icons/chevron-right.svg";
import ChevronLeft from "../assets/icons/chevron-left.svg";

interface Props {
    class_: string;
    prefix: string;
    excludeArrows?: boolean;
    excludeDots?: boolean;
    maxWidth?: number;
}

const {class_, prefix, excludeArrows=false, excludeDots=false, maxWidth} = Astro.props;
---

<div class:list={["glider-contain",maxWidth && `max-w-[${maxWidth}px] relative`]}>
    <div class:list={[class_,""]}>
      <slot />
    </div>
    <div class="h-12 aspect-square">

    </div>
    {
        !excludeArrows && (
            <button
                aria-label="Previous"
                class={`${prefix}-glider-prev absolute top-1/2 -translate-y-1/2 left-0`}
            >
               <ChevronLeft class={"hover:cursor-pointer"}/> 
            </button>

            <button
                aria-label="Next"
                class={`${prefix}-glider-next absolute top-1/2 -translate-y-1/2 right-0`}
            >
                <ChevronRight  class:list={"cursor-pointer"}/>
            </button>
        )
    }
    {

        !excludeDots && <div role="tablist" class:list={[`${prefix}-dots`,""]}></div>
    }
</div>