---
import ChevronRight from "../assets/icons/chevron-right.svg";
import ChevronLeft from "../assets/icons/chevron-left.svg";

interface Props {
    class_: string;
    prefix: string;
    excludeArrows?: boolean;
    excludeDots?: boolean;
    maxWidth?: number;
    arrowStyle?: string;
}

const {class_, prefix, excludeArrows=false, excludeDots=false, maxWidth,arrowStyle = false} = Astro.props;
---

<div class:list={["glider-contain relative",maxWidth && `max-w-[${maxWidth}px]`]}>
    <div class:list={[class_,""]}>
      <slot />
    </div>
    <div class="h-12 aspect-square">

    </div>
    {

        !excludeDots && <div class="flex items-center justify-center gap-2">
            {/* Arrow */}

            {
                !excludeArrows &&
                    <button
                        aria-label="Previous"
                        class={`${prefix}-glider-prev  relative sm:absolute top-1/2 -translate-y-1/2 left-0 2xl:hidden`}
                    >
                <ChevronLeft class:list={["cursor-pointer",arrowStyle]}/> 
                </button>
            }

            {/* Dots */}
            <div role="tablist" class:list={[`${prefix}-dots`,""]}></div>

            {/* Arrow */}
            {
                !excludeArrows &&
                <button
                    aria-label="Next"
                    class={`${prefix}-glider-next relative sm:absolute top-1/2 -translate-y-1/2 right-0 2xl:hidden`}
                >
                    <ChevronRight  class:list={["cursor-pointer",arrowStyle]}/>
                </button>
            }
        </div>
    }
</div>