<div class="glider-contain !px-0">
  <div class="glider">
    <slot /> <!-- Permite pasar los elementos hijos desde el padre -->
  </div>
</div>

<script type="module" src="/src/scripts/glider-init.js"></script>