---
interface Props{
  height: number;
}
const {height} = Astro.props;
---
<div class:list={["glider-contain flex items-center justify-center xl:block",`max-w-[1430px]`]}>
  <div class="glider">
    <slot />
  </div>
</div>

<script type="module" src="/src/scripts/glider-init.js"></script>