---
import Star from "../assets/icons/star.svg";

interface Props{
  texto: string;
  cliente?: string;
}

const { texto,cliente="Cliente de Hulux"} = Astro.props;
---

<article class="flex flex-col items-center justify-between py-6 px-4 h-[260px] w-[320px] border rounded-md bg-white">

    <div class="flex gap-1">
        <Star class:list={["text-primary"]} />
        <Star class:list={["text-primary"]} />
        <Star class:list={["text-primary"]} />
        <Star class:list={["text-primary"]} />
        <Star class:list={["text-primary"]} />
    </div>
  <p class="text-center">
    {`"${texto}"`}
  </p>
  <p class="italic">
    {`-${cliente}`}
  </p>
</article>