---
// components/HuluxMision.astro
---

<section 
  class="w-full h-[90vh] bg-no-repeat bg-center bg-cover text-white py-32 px-10 flex items-end"
  style="background-image: url('src/assets/Vision.png');"
>
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-start justify-start gap-12 w-full">

    <!-- Texto alineado a la izquierda -->
    <div class="md:w-1/2">
      <h2 class="text-4xl md:text-7xl font-bold mb-6">
        Nuestra visión
      </h2>
      <p class="text-lg leading-relaxed">
        Ser lideres en la industria de telecomunicaciones, reconocidos por nuestra
        inovación, confiabilidad y capacidad para conectar a las personas con lo que más importa.
      </p>
    </div>

  </div>
</section>