---
import "@styles/global.css";
import Header from '../Components/Header.astro';
import Image from "astro/components/Image.astro"
import img from "../assets/whatsappIcon.svg";
import SubMenu from "../Components/SubMenu.astro";
import Footer from '../Components/footer.astro';

let path = Astro.url.pathname;
const normalizedPath = (!path.endsWith("/") && path !== "/") ? `${path}/` : path;

const solidPaths: string[] = ["/avisoprivacidad/","/legal/","/eliminardatos/"];

const solid = solidPaths.includes(normalizedPath);
console.log(path,solid);
---

<html lang="es" class="overscroll-none scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hulux Telecomunicaciones | Contrata Internet de alta velocidad</title>

		<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
	</head>
	<body>
        <Header solid={solid}></Header>
        <slot />
		<SubMenu />
		<Footer/>
		<script type="module" src="/js/glider-init.js"></script>
		<!-- <script id="respondio__widget" src="https://cdn.respond.io/webchat/widget/widget.js?cId=e87eb5fa73e05c394bd65c1f26ed9db"></script> -->
	</body>
</html>
