---
import Header from '../Components/Header.astro'
import './src/styles/global.css'
import Image from "astro/components/Image.astro"
import img from "../assets/whatsappIcon.svg";
import SubMenu from "../Components/SubMenu.astro";
import Footer from '../Components/footer.astro';

const path = Astro.url.pathname;

const solidPaths: string[] = [];

const solid = solidPaths.includes(path);
console.log(path,solid);
---

<html lang="es" class="overscroll-none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hulux Telecomunicaciones | Contrata Internet de alta velocidad</title>
		<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
	</head>
	<body>
		<div id="top" class="hidden"></div>
        <Header solid={solid}></Header>
        <slot />
			<!-- Botón de whatsapp -->
	<div class="bg-green-600 fixed bottom-0 right-0 m-4 rounded-full p-2">
		<a href="https://api.whatsapp.com/send/?phone=7727273403" target="_blank" role="button">
			<Image src={img} alt={"WhatssApp chat Icon"}/>
		</a>
	</div>
	<SubMenu />
	<Footer/>
	<script type="module" src="/src/scripts/glider-init.js"></script>
	</body>
</html>
